@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #C08261;
}

::-webkit-scrollbar-thumb {
    background: #800000 ;
}

::-webkit-scrollbar-thumb:hover {
    background: #FFC3A1;
}

body {
    font-family: 'Poppins';
}

body, html {
    width: 100%;
    overflow-x: hidden;
}

.navigation-bar {
    transition: all 0.3s ease;
    font-family: 'Ubuntu', sans-serif;
}

.navigation-bar.sticky{
    padding: 12px 0 !important;
    background: #9A3B3B !important;
}

.navigation-bar.sticky .logo a span{
    color: #F2ECBE !important;
}

.logo a.navigation-header {
    color: #F2ECBE;
    animation: slideFromLeft 1.5s ease-in-out;
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

a.navigation-menu-items {
    color: #F2ECBE;
}

.navigation-menu-content .navigation-list a.navigation-menu-items {
    color: #F2ECBE;
    text-decoration: none;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.nav-item-animation {
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.navigation-menu-content .navigation-list a.navigation-menu-items::after, .navigation-menu-content a.navigation-menu-items::before {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #E2C799;
    content: "";
    opacity: 0;
    transition: all 0.5s;
}
.navigation-menu-content a.navigation-menu-items::before {
    top: 0px;
    transform: translateY(-10px);
}

.navigation-menu-content a.navigation-menu-items::after {
    bottom: 0px;
    transform: translateY(10px);
}

.navigation-menu-content a.navigation-menu-items:hover::before, .navigation-menu-content a.navigation-menu-items:hover::after {
    opacity: 1;
    transform: translateY(0px);
}

.home {
    background: url("Basketball1.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
}

.skills {
    background: url("skills-bg.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
}

.home .home-content .text-1{
    font-family: "Poppins", sans-serif;
}

.home-content {
    color: #F2ECBE;
    animation: slideUp 2s ease-in-out;
}

.home .home-content .text-2{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.home-content-animation {
    transform: translateY(-600%);
    animation: slideInFromTop 1s ease-out forwards;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-600%);
    }
    100% {
        transform: translateY(0);
    }
}

.home-btn {
    background: #9A3B3B;
    color: #F2ECBE;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform: translateY(400%);
    animation: slideInFromBottom 0.9s ease-out forwards;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(400%);
    }
    100% {
        transform: translateY(0);
    }
}

.home-btn:hover {
    color: #9A3B3B;
}

.home-btn::after {
    content: "";
    background: #F2ECBE;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.home-btn:hover::after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#scrollUpBtn {
    bottom: 20px;
    right: 20px;
    display: none;
    width: 50px;
    height: 50px;
    background-color: #9A3B3B;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    color: #F2ECBE;
    z-index: 1000;
}

#scrollUpBtn:hover {
    transform: translateY(-.25rem);
}

.about, .home, .contact, .skills {
    padding: 5rem 0rem;
}

.about, .contact {
    background-color: #F2E8C6;
}

.about-content .title, .skills-content .title, .contact-content .title{
    font-family: 'Ubuntu', sans-serif;
}

.about-description {
    background-color: #F2ECBE;
}

.about-content .title::before, .contact-content .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.about-content .title::after{
    content: "who i am";
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 1.2rem;
    color: #9A3B3B;
    padding: 0 5px;
    background: #F2E8C6;
    transform: translateX(-50%);
}

.skills-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #E2C799;
}

.skills-subtitle {
    font-size: 1.25rem;
    font-weight: 500;
    color: #F2ECBE;
    display: inline;
}

.skills-subtitle::before,
.skills-subtitle::after {
    content: '';
    display: block;
    width: 32px;
    height: 3px;
    background-color: #9A3B3B;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
}

.skills-subtitle::before {
    left: -40px;
}

.skills-subtitle::after {
    right: -40px;
}

.contact-content .title::after{
    position: absolute;
    bottom: -8px;
    font-size: 1.2rem;
    left: 50%;
    color: #9A3B3B;
    padding: 0 5px;
    width: 7.5rem;
    background: #F2E8C6;
    transform: translateX(-50%);
}

.contact-content .title::after{
    content: "get in touch";
}

.about-content {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
}

.about-content .timeline {
    position: relative;
    margin: 50px 0;
    padding: 20px 0;
}

.about-content .timeline::before {
    content: "";
    position: absolute;
    width: 4px;
    background: #9A3B3B;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.timeline-item {
    position: relative;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.timeline-item-right {
    align-items: flex-end;
}

.timeline-item .timeline-badge {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: #9A3B3B ;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.timeline-item .timeline-content {
    width: 45%;
    position: relative;
    z-index: 2;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.timeline-item-left .timeline-content {
    margin-left: auto;
}

.timeline-item-right .timeline-content {
    margin-right: auto;
}

.timeline-item .timeline-content img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.timeline-item.visible {
    opacity: 1;
    transform: translateY(0);
}

.timeline-item-left.visible {
    animation: slideInLeft 0.8s ease forwards;
}

.timeline-item-right.visible {
    animation: slideInRight 0.8s ease forwards;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 992px) {
    .timeline-item .timeline-content {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .about-content .timeline::before {
        left: 5%;
    }

    .timeline-item, .timeline-item-left {
        align-items: flex-end;
        text-align: center;
    }

    .timeline-item .timeline-badge {
        left: 5%;
    }

    .timeline-item .timeline-content {
        width: 90%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 576px) {
    .about-content {
        padding: 20px;
    }

    .about-content h2.title {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .timeline-item .timeline-badge {
        width: 35px;
        height: 35px;
        font-size: 1rem;
    }
}

.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}
.image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.image-container:hover img {
    transform: scale(1.5);
    cursor: pointer;
}

.skills-item {
    border: 10px solid transparent; 
    border-radius: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
    overflow: hidden;
    background: transparent;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.skills-item[data-progress="88"] {
    border-image: conic-gradient(#F2ECBE 0% 88%, #9A3B3B 38% 100%); 
    border-image-slice: 1;
}

.skills-item[data-progress="97"] {
    border-image: conic-gradient(#F2ECBE 0% 97%, #9A3B3B 38% 100%); /* Color for the remaining space */
    border-image-slice: 1;
}

.skills-item[data-progress="95"] {
    border-image: conic-gradient(#F2ECBE 0% 95%, #9A3B3B 38% 100%); /* Color for the remaining space */
    border-image-slice: 1;
}

.skills-item[data-progress="90"] {
    border-image: conic-gradient(#F2ECBE 0% 90%, #9A3B3B 63% 100%); /* Color for the remaining space */
    border-image-slice: 1;
}

.skills-item[data-progress="85"] {
    border-image: conic-gradient(#F2ECBE 0% 85%, #9A3B3B 63% 100%); /* Color for the remaining space */
    border-image-slice: 1;
}

.skills-item[data-progress="83"] {
    border-image: conic-gradient(#F2ECBE 0% 83%, #9A3B3B 63% 100%); /* Color for the remaining space */
    border-image-slice: 1;
}

.btn-skills {
    outline: none;
}

.btn-skills button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: #F2ECBE;
    border: 2px solid #F2ECBE;
    border-radius: 34px;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.btn-skills button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #F2ECBE;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn-skills button:hover::before {
    scale: 3;
}

.btn-skills button:hover {
    color: #9A3B3B;
    scale: 1.1;
    box-shadow: 0 0px 20px #F2ECBE;
}

.btn-skills button:active {
    scale: 1;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
    #scrollUpBtn {
        width: 30px;
        height: 30px;
        font-size: 15px !important;
    }
}

@media only screen and (max-width: 400px) {
    .soc {
        padding: 0 15px;
    }
    .wrapper {
        padding: 0px;
    }
    .text-1 {
        font-size: 14px !important;
    }
}

  